<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Document</title>

    <style>
        .card-margin {
            margin-bottom: 20px;
        }
    
        .card {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    
        .card-body {
            flex-grow: 1;
        }
    </style>
    

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/templates/index.html"><img class="logo" src="/static/pic/ppd.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link menu" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu" href="/about">About</a>
                    </li>
                </ul>
                <a href="/login"><button class="btn tlogin" type="button">signOut</button></a>
            </div>
        </div>
    </nav>

    <div id="nav-bar">
        <input id="nav-toggle" type="checkbox" />
        <div id="nav-header"><a id="nav-title" href="https://codepen.io" target="_blank">DIGIDAS</a>
            <label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
            <hr />
        </div>
        <div id="nav-content">
            <div class="nav-button"><a href="/pendataan"><i class="fas fa-list"></i><span>Pendataan Santri</span></a></div>
            <div class="nav-button"><a href="/inventaris"><i class="fas fa-folder-open"></i><span>Inventaris Pesantren</span></a></div>
            <div class="nav-button"><a href="/mutasi"><i class="fas fa-arrows-alt"></i><span>Mutasi Santri</span></a></div>
            <hr />
            <div class="nav-button"><a href="/jurnal"><i class="fas fa-book"></i><span>Jurnal</span></a></div>
            <div class="nav-button"><a href="/target"><i class="fas fa-bullseye"></i><span>Target</span></a></div>
            <div class="nav-button"><a href="/pengumuman"><i class="fas fa-info-circle"></i><span>Pengumuman</span></a></div>

            <div id="nav-content-highlight"></div>
        </div>
        <input id="nav-footer-toggle" type="checkbox" />
        <div id="nav-footer">
            <div id="nav-footer-heading">
                <div id="nav-footer-avatar"><a href="/profile"><img src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547" /></a>
                </div>
                <div id="nav-footer-titlebox"><a id="nav-footer-title" href="#" target="_blank">Staff</a><span
                        id="nav-footer-subtitle">Admin</span></div>
                <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
            </div>
            <div id="nav-footer-content">
                <Lorem>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua.</Lorem>
            </div>
        </div>
    </div>

    <h1>Dashboard</h1>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        <h5 class="card-title">Pengumuman</h5>
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">

                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">PRO-08235 DeskOpe. Website</span>
                                </div>
                            </div>
                            <ol class="widget-49-meeting-points">
                                <li class="widget-49-meeting-item"><span>Expand module is removed</span></li>
                                <li class="widget-49-meeting-item"><span>Data migration is in scope</span></li>
                                <li class="widget-49-meeting-item"><span>Session timeout increase to 30 minutes</span>
                                </li>
                            </ol>
                            <div class="widget-49-meeting-action">
                                <a href="/pengumuman" class="btn btn-sm btn-flash-border-primary">View All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        <h5 class="card-title">Target</h5>
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">Judul</span>
                                </div>
                            </div>
                            <ol class="widget-49-meeting-points">
                                <li class="widget-49-meeting-item"><span>Scheming module is removed</span></li>
                                <li class="widget-49-meeting-item"><span>App design contract confirmed</span></li>
                                <li class="widget-49-meeting-item"><span>Client request to send invoice</span></li>
                            </ol>
                            <div class="widget-49-meeting-action">
                                <a href="/target" class="btn btn-sm btn-flash-border-warning">View All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        <h5 class="card-title">Pelanggaran</h5>
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">

                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">PRO-027865 Opera module</span>
                                </div>
                            </div>
                            <ol class="widget-49-meeting-points">
                                <li class="widget-49-meeting-item"><span>Scope is revised and updated</span></li>
                                <li class="widget-49-meeting-item"><span>Time-line has been changed</span></li>
                                <li class="widget-49-meeting-item"><span>Received approval to start wire-frame</span>
                                </li>
                            </ol>
                            <div class="widget-49-meeting-action">
                                <a href="/data_pelanggaran" class="btn btn-sm btn-flash-border-success">View All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <a href="pendataan" style="text-decoration:none;">
            <figure>
                <img src="/static/pic/Pendataan.png" alt="Pendataan" href="pendataan">
                <figcaption>Pendataan Santri</figcaption>
            </figure>
        </a>
        <a href="inventaris" style="text-decoration:none;">
            <figure>
                <img src="/static/pic/inventaris.png" alt="Inventaris" href="inventaris.html">
                <figcaption>Inventaris Pesantren</figcaption>
            </figure>
        </a>
        <a href="mutasi" style="text-decoration:none;">
            <figure>
                <img src="/static/pic/Mutasi.png" alt="Mutasi" href="mutasi.html">
                <figcaption>Mutasi</figcaption>
            </figure>
        </a>
    </div>
    <div class="container">
        <a href="jurnal.html" style="text-decoration:none;">
            <figure>
                <img src="/static/pic/jurnal.png" alt="Jurnal" href="jurnal.html">
                <figcaption>Jurnal</figcaption>
            </figure>
        </a>
        <a href="target" style="text-decoration:none;">
            <figure>
                <img src="/static/pic/Target.png" alt="Target" href="target.html">
                <figcaption>Target</figcaption>
            </figure>
        </a>
        <a href="pengumuman" style="text-decoration:none;">
            <figure>
                <img src="/static/pic/Pengumuman.png" alt="Pengumuman" href="pengumuman.html">
                <figcaption style="font-size: 2rem;">Pengumuman</figcaption>
            </figure>
        </a>

    </div>

</body>


</html>